<!-- restaurant_detail.html -->
{% extends 'base.html' %}
{% block content %}
<h1>{{ restaurant.name }}</h1>
<p>Address: {{ restaurant.formatted_address }}</p>
<p>Phone: {{ restaurant.formatted_phone_number }}</p>
<p>Website: <a href="{{ restaurant.website }}" target="_blank">{{ restaurant.website }}</a></p>
<p>Rating: {{ restaurant.rating }}</p>

<h3>Opening Hours</h3>
{% if restaurant.opening_hours %}
    <ul>
    {% for hour in restaurant.opening_hours.weekday_text %}
        <li>{{ hour }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No opening hours available.</p>
{% endif %}

<a href="{% url 'restaurant_search' %}">Back to Search</a>  <!-- Link to go back to the search page -->
{% endblock %}
